<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Daftar Semua Jabatan Pegawai</title>
	
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
   		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		
		<script>
    		$(document).ready(function() {
      		$('#jabatanAll').DataTable();
 			});
		</script>
		
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<br>
		<div class="container">
			<table id="jabatanAll" class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th style="text-align: center">No.</th>
						<th style="text-align: center">Nama</th>
						<th style="text-align: center">Deskripsi</th>
						<th style="text-align: center">Gaji</th>	
						<th style="text-align: center">Jumlah Pegawai</th>	
					</tr>
				</thead>
				<tbody>
					<tr th:each="jabatan, iterationStatus : ${jabatan}">
						<td th:text="${iterationStatus.count}" style="text-align: center"></td>
						<td th:text="${jabatan.nama}"></td>
						<td th:text="${jabatan.deskripsi}"></td>
						<td th:text="${jabatan.gajiPokok}"></td>	
						<td th:text="${jabatan.getAllPegawai().size()}"></td>			
					</tr>
				</tbody>
			</table>
			<br>
			<form th:action="@{/}">
				<button type="submit" class="btn btn-primary mb-2">Kembali Ke Awal</button>
			</form> 
		</div>
	</body>
</html>